.customHeader {
    height: 70px;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}

.logo-text {
    font-weight: 900;
}

.sun-box {
    background-color: var(--custom-color-site-1);
    padding: 10px;
}

.sun {
    height: 25px;
    width: 25px;
}

.custom-navlink {
    color: rgb(0, 0, 0);
    font-size: 17px;
    transition: color 0.2s ease;
}

.custom-navlink:hover {
    color: var(--custom-color-site-1);
}

.customButton {
    color: rgb(255, 255, 255);
    background-color: var(--custom-color-site-1);
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.custom-button:hover {
    opacity: 80%;
}


/* BURGER MENU BUTTONS*/

.openBurgerButton:hover,
.closeBurgerButton:hover {
    color: var(--custom-color-site-1);
}


