.custom-gap-nav {
    gap: 200px;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}

.logo-text {
    font-weight: 900;
}

.sun-box {
    background-color: var(--custom-color-site-1);
    height: 50px;
    width: 50px;
}

.sun {
    height: 25px;
    width: 25px;
}

.custom-navlink {
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.custom-navlink:hover {
    color: var(--custom-color-site-1);
}

.custom-button {
    color: rgb(255, 255, 255);
    background-color: var(--custom-color-site-1);
    padding: 10px 15px;
    text-decoration: none;  
}

.custom-button:hover {
    opacity: 80%;
}
