@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body, html, h1, h2, h3, h4, h5, h6, button, a {
    font-family: 'Inter', sans-serif;
}

:root {
    --custom-color-site-1: rgb(245 158 11);
    --custom-color-site-2: rgb(28, 196, 140);
    --custom-color-site-3: rgb(3, 9, 24)
}

.colorfont-1 {
    color: var(--custom-color-site-1);
}

body {
    background-color: rgb(248, 250, 252);
}

.sectionPadding {
    padding-top: 80px;
    padding-bottom: 200px;
}


/* FOOTER SETTINGS NON TOCCARE! */
.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

footer {
    background-color: rgb(3, 9, 24);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px 30px;
}



